                            .contentWrapper {
                                margin: 0 auto;
                                max-width: 1170px;
                                padding: 0 3.0em;
                            }
                            
                            header {
                                height: 325px;
                                width: 100%;
                                background: #ffffff url(assetsStaticStore/performance_edit_3.png) no-repeat fixed top center;
                                background-size: cover;
                            }
                            
                            body {
                                color: wheat;
                                font-size: 67.5%;
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
                                /* background: #616161 url(assetsStaticStore/blackWhite.png) no-repeat fixed top center; */
                                padding: 0;
                                margin: 0;
                            }
                            
                            .titleBen {
                                position: relative;
                                top: 2em;
                                color: #ffffff;
                                font-size: 4em;
                            }
                            
                            .tagLine {
                                position: relative;
                                top: 4em;
                                color: #ffffff;
                                font-size: 122%;
                            }
                            
                            nav ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                            }
                            
                            .headerNav li,
                            a {
                                display: inline-block;
                                padding: .5em;
                                color: rgb(92, 86, 86);
                                text-decoration: none;
                            }
                            
                            nav a:hover {
                                background-color: rgba(255, 255, 255, 0.5);
                            }
                            
                            .navBar {
                                background-size: cover;
                                height: 47px;
                                /* width: 100%; */
                                background-color: rgb(255, 255, 255);
                            }
                            
                            .navButtons li {
                                position: relative;
                                margin-left: 50px;
                                display: inline-block;
                                font-size: 15px;
                                text-decoration: none;
                            }
                            
                            #content-container {
                                width: 675px;
                                height: 202px;
                                float: left;
                                position: relative;
                                display: block;
                                background-color: #fff;
                                margin: -2.5em 0 12em 1.5em;
                                padding: 1.7em 0.5em 2.0em 1.7em;
                                border-left: #2ba96800 solid 5px;
                            }
                            
                            .section-header {
                                font-family: Arial, Helvetica, sans-serif;
                                text-align: center;
                                font-size: 34px;
                                color: rgb(92, 86, 86);
                                margin: -18;
                            }
                            
                            p {
                                font-size: 1.2em;
                                line-height: 1.4em;
                                color: #777;
                                margin: 0px 0.5em 0.75em 0px;
                            }
                            
                            .aboutBen-Pic {
                                width: 300px;
                                height: 195px;
                                border-radius: 26px;
                                z-index: 1;
                                position: relative;
                                left: 675px;
                                top: -183px;
                            }
                            
                            .buy-Header {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 34px;
                                color: rgb(92, 86, 86);
                                position: relative;
                                z-index: 1;
                                left: -414px;
                                top: 275px;
                            }
                            
                            img.display {
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            
                            .salePanel {
                                float: left;
                                position: relative;
                                width: 250px;
                                margin: 0 0.5em 2.0em 0.5em;
                                padding: 1.0em;
                                background-color: rgba(121, 121, 121, 0.288);
                                border: #ccc solid 1px;
                                border-radius: 0.6em;
                            }
                            
                            h2 {
                                color: black;
                            }
                            
                            footer {
                                background-size: cover;
                                position: absolute;
                                left: 020px;
                                right: 0;
                                bottom: -800px;
                            }